@import "tailwindcss";

@theme {
  /* COLORS */
  --color-primary: #0066cc;
  --color-secondary: #4bac4d;
  --color-dark: #00408c;
  --color-light: #0070f4;
  /* FONT */
  --font-sans: var(--font-inter);
  --font-primary: var(--font-inter);
}
